<%= form_with(model: bookmark, local: false) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
        <% bookmark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :kind_id %>
    <%= form.select :kind_id, Kind.all.collect {|i| [i.name, i.id]}, {}, id: :bookmark_kind_id, include_blank:false %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.collect {|i| [i.name, i.id]}, {}, id: :bookmark_category_id, include_blank:false %>
  </div>

  <div class="actions">
    <%= form.submit data: {disable_with: 'submitting...'}%>
  </div>
<% end %>
